.aside_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

@media (max-width: 991px) {
  .aside_overlay {
    left: 0;
    bottom: 0;
  }
}

.aside_overlay:target {
  visibility: visible;
  opacity: 1;
}

.aside_overlay_popup {
  margin: 150px auto;
  padding: 20px;
  background: #3a4245;
  border-radius: 5px;
  width: 90%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .aside_overlay_popup {
    margin: 30px auto;
  }
}

.aside_overlay_close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #5d6a6f;
  font-weight: bold;
  font-size: 40px;
}

.aside_overlay_close:hover {
  color: #8a8a8a;
}

.aside_overlay_content {
  max-height: 30%;
  overflow: hidden;
  color: #fff;
}

.aside_overlay_content img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
