.discover_title {
  font-size: 50px;
  color: #eaeaea;
  padding-top: 130px;
  width: 100%;
  text-align: center;
  position: relative;
}

.discover_title::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 5px;
  background: #eaeaea;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.discover_container {
  padding-top: 8rem;
  padding-bottom: 4rem;
  width: 100%;
}

.discover_container_form {
  width: 100%;
}

.discover_container_form_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .discover_container_form_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.discover_container_form_select {
  text-align: center;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #7f8c8d;
  background-image: none;
  width: 12em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-left: 3px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .discover_container_form_select {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .discover_container_form_select {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.discover_container_form_select::-ms-expand {
  display: none;
}

.discover_container_form_select:focus {
  outline: none;
}

.discover_container_form_select::-ms-expand {
  display: none;
}

.discover_container_form_select_o:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.discover_container_form_input {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #7f8c8d;
  width: 8em;
  text-align: center;
  height: 3em;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-left: 30px;
}

.discover_container_form_input::-webkit-input-placeholder {
  color: #fff;
}

.discover_container_form_input:-ms-input-placeholder {
  color: #fff;
}

.discover_container_form_input::-ms-input-placeholder {
  color: #fff;
}

.discover_container_form_input::placeholder {
  color: #fff;
}

@media (max-width: 991px) {
  .discover_container_form_input {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .discover_container_form_input {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 12em;
  }
}

.discover_container_form_btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 4px solid #7f8c8d;
  background: transparent;
  width: 12em;
  height: 3em;
  border-radius: 0.25em;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.discover_container_form_btn:hover {
  background: #7f8c8d;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
