@media (max-width: 991px) {
  .detail {
    height: 300vh;
    width: 100%;
    position: relative;
  }
  .detail_back {
    left: 10%;
  }
  .detail_backdrop {
    height: 250vh;
    left: 0;
    background-position: center center;
    width: 100%;
  }
  .detail_side {
    background: transparent;
    width: 100%;
    background: #3a4245;
    height: 400px;
    bottom: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .detail_content {
    left: 0;
    width: 100%;
  }
  .detail_content_inner {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .detail_content_title {
    width: 100%;
    font-size: 35px;
  }
  .detail_content_descrtiption {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
  }
  .detail_content_descrtiption_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .detail_content_descrtiption svg {
    width: 50px;
    height: 50px;
  }
  .detail_content_descrtiption_n {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .detail_content_descrtiption_o {
    font-size: 18px;
  }
  .detail_content_names .overlay {
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .detail_content_names .overlay .popup {
    margin: 20px auto;
    padding: 10px;
    background: #3a4245;
    border-radius: 20px;
    width: 90%;
  }
  .detail_content_names .overlay .popup .close {
    top: 0;
    font-size: 40px;
  }
  .detail_content_names .overlay .popup_content {
    max-height: 50%;
    margin-top: 20px;
    font-size: 18px;
  }
  .detail_content_genre {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
  }
  .detail_content_genre data {
    font-size: 18px;
  }
  .detail_content_data {
    font-size: 20px !important;
  }
  .detail_content_button {
    font-size: 20px;
  }
  .detail_content_another {
    display: none;
  }
  .detail_content_another_rating {
    margin-top: 20px;
    font-size: 30px;
  }
  .detail_content_another_rating span {
    font-size: 20px;
  }
  .detail_content_another_country {
    width: 100%;
    margin-top: 30px;
  }
  .detail_content_another_country span {
    font-size: 20px;
  }
  .detail_content_another_country_n {
    font-size: 16px;
  }
  .detail_content_mobile {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .detail_content_carousel {
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    width: 100%;
    height: 300px;
  }
}
