.list {
  width: 100%;
  padding: 3rem;
}

@media (max-width: 991px) {
  .list {
    margin-top: 150px;
  }
}

.list_name {
  color: #ecf0f1;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 2px 2px 3px #ffc371;
  margin-bottom: 20px;
}

.list_grid {
  position: relative;
}

.list_grid::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 2px;
  border-radius: 5px;
  background: #7f8c8d;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 50px;
}

@media (max-width: 991px) {
  .list_grid::after {
    width: 200px;
  }
}

.list .cards {
  display: -ms-grid;
  display: grid;
  height: 100%;
  place-items: center;
}

.list .cards .page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .list .cards .page-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .list .cards .page-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
