@import "../../../Styles/responsive";

.sidebar {
  height: 100%;
  width: 100%;
  @media #{$tab} {
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  &_image {
    @media #{$tab} {
      margin-right: 50px;
      margin-left: 50px;
    }
    &_img {
      margin: 0 auto;
      margin-top: 30px;
      width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      position: relative;
      z-index: 0;
      background-repeat: no-repeat;
      @media #{$tab} {
        width: 200px;
        height: 300px;
        border-radius: 10px;
        &::before {
          content: "";
          position: absolute;
          background: #3a4245;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          transition: all 1s ease-in-out;
        }
      }
      @media #{$screen} {
        &:before {
          content: "";
          position: absolute;
          background: #3a4245;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0.5;
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          width: 200px;
          height: 300px;
          background-size: cover;
          background-position: 0 0;
          border-radius: 10px;
          transition: all 0.5s ease-in-out;
          animation: profile_image 2000ms linear both;
          animation-delay: 0.5s;
          &::before {
            opacity: 0;
          }
        }
      }
    }
  }

  &_pics {
    width: 100%;
    margin-top: 50px;
    @media #{$tab} {
      display: flex;
      margin-right: 600px;
      margin-left: 1300px;
    }
    &_title {
      line-height: 3;
      font-size: 50px;
      text-align: center;
      text-shadow: 2px 2px 3px #ffc371;
      border-top: 2px solid #fff;
      @media #{$tab} {
        // display: none;
        border-right: 2px solid #fff;
        margin-right: 50px;
        line-height: 3;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        border-top: 0;
      }
    }
    &_img {
      @media #{$tab} {
        margin-right: 20px;
        margin-left: 30px;
      }
      margin: 50px auto;
      background-position: center center;
      background: cover;
      width: 200px;
      height: 300px;
      border-radius: 20px;
      transition: transform 0.3s ease-in-out;
      position: relative;
      z-index: 0;
      background-repeat: no-repeat;
      border-bottom: 5px solid #fff;
      &:hover {
        transform: scale(1.2);
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #3a4245;
          opacity: 0.3;
        }
      }
    }
  }

  &_back {
    @media #{$tab} {
      display: flex;
      width: 100%;

      // display: none;
    }
    &_img {
      @media #{$tab} {
        margin-right: 20px;
      }
      margin: 50px auto;
      background-position: center center;
      background: cover;
      width: 250px;
      height: 150px;
      border-radius: 20px;
      transition: transform 0.2s ease-in-out;
      position: relative;
      z-index: 0;
      background-repeat: no-repeat;
      border-bottom: 5px solid #fff;
      &:hover {
        transform: scale(1.1);
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #3a4245;
          opacity: 0.3;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  &_recomended {
    width: 100%;
    margin-top: 50px;
    @media #{$tab} {
      display: flex;
      border-right: 3px solid #333;
    }
    &_title {
      line-height: 2;
      font-size: 50px;
      text-align: center;
      text-shadow: 2px 2px 3px #ffc371;
      border-top: 2px solid #fff;
      @media #{$tab} {
        border-right: 2px solid #fff;
        margin-right: 50px;
        line-height: 3;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        border-top: none;
      }
      @media #{$mid_device} {
        font-size: 35px;
      }
    }
    &_card {
      @media #{$tab} {
        margin-right: 50px;
      }
      @media #{$screen} {
        margin: 50px auto;
      }
      background-position: center center;
      background: cover;
      width: 185px;
      height: 280px;
      border-radius: 20px;
      transition: transform 0.3s ease-in-out;
      position: relative;
      z-index: 0;
      background-repeat: no-repeat;
      border-bottom: 5px solid #fff;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #3a4245;
        opacity: 0.6;
        z-index: -1;
      }
      &:hover {
        transform: scale(1.1);
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #3a4245;
          opacity: 0.2;
          z-index: -1;
        }
        .sidebar_recomended_card_title {
          opacity: 0;
          transition: all 0.2s ease;
        }
      }
      &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      &_title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.1;
        text-shadow: 2px 2px 1px #000;
        text-decoration: none;
        color: #eaeaea;
        text-align: center;
        transition: all 0.2s ease;
      }
    }
  }
}

@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
